body {
  background: rgba(24, 26, 27, 0.81);
}
.titulo {
  font-size: 0.8rem;
  font-family: 'Jura', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.deidei {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deidei img {
  width: 23rem;
  object-fit: cover;
}

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto {
  font-family: 'Jura', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  width: 45rem;
  color: white;
}
.caixa-botao {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-botao {
  text-decoration: none;
}

.botao {
  text-decoration: none;
  font-family: 'Jura', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.3rem 1rem 2rem;
  gap: 1rem;

  position: relative;
  width: 10.6rem;
  height: 3.1rem;

  background: #0099ff;
  border-radius: 80px;
  border-color: none;
  color: white;
}

.botao:hover {
  cursor: pointer;
}
