<div  class="flex-grow-1">
  <div class="d-flex justify-content center">
    <div class="h-100 w-100 container-video">
      <vm-youtube cookies="true" videoId="{{lessonParam?.videoId}}">
      </vm-youtube>
    </div>
  </div>

  <div class="p-4 mx-auto">
    <section class="d-flex aligm-item-center justify-content-between">
      <div class="flex-1">
        <h1 class="text-2xl font-bold">
          
          {{lessonParam?.title}}
        </h1>

        <p class="mt-4 text-gray-200 leading-relaxed">
          {{lessonParam?.description}}
        </p>

        <div class="d-flex aligm-item-center gap-2 mt-3">
          <img
            height="50"
            width="50"
            class="rounded-5 border"
            src="{{lessonParam?.title.instructor.avatarUrl}}"
            alt=""
          />

          <div class="leading-relaxed">
            <strong class="font-bold text-2xl d-block">{{lessonParam?.instructor.fullName}}</strong>
            <span class="text-gray-200 text-sm d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid magnam aperiam totam ea eveniet voluptatibus iure est earum eum minima ipsum odio tempora quibusdam voluptas modi, animi quis nemo cupiditate?</span>
          </div>

        </div>
      </div>

      
    </section>
  </div>
</div>


